@use '../../../utility-styles' as *;

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    background-color: var(--background-light);
    padding: 3.2rem;
    border-radius: 1.5rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white-text);
    margin-bottom: 0;
  }

  &__field {
    display: flex;
    flex-direction: column;
    color: var(--white-text);
  }

  &__input {
    width: 37.2rem;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    color: var(--text-blue);
    font-family: inherit;
    margin: 0.5rem 0;
    border-radius: 1rem;
  }

  &__label {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }

  &__btn {
    @extend %btn;
    padding: 1.2rem 2.4rem;
    background-color: var(--button-blue);
    font-size: 1.4rem;
    color: var(--white-text);
    border-radius: 1rem;

    &:hover {
      background-color: var(--button-blue-hover);
    }
  }

  &__error-message {
    color: var(--error);
    margin: 0;
  }

  &__btn-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: var(--white-text);
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    color: var(--white-text);
    cursor: pointer;
    transition: all 300ms ease-out;

    &:hover {
      color: var(--hover-text);
    }
  }
}

input[type='file']::file-selector-button {
  background-color: var(--button-blue);
  color: var(--white-text);
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: none;
  margin-top: 0.4rem;
}
