@use './utility-styles/' as *;

.section-main {
  height: 100vh;
  background-color: var(--background);
  color: var(--white-text);
  padding-top: 100px;
}

.section-main--logged {
  padding-left: 300px;
}

@media screen and (max-width: 768px) {
  .section-main--logged {
    padding: 160px 10px 0 10px;
  }
}
